@mixin typography ($family, $size, $weight, $color, $height) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $height;
}

@mixin typo ($size, $weight) {
    font-size: $size;
    font-weight: $weight;
}

@mixin space ($word, $letter) {
    word-spacing: $word;
    letter-spacing: $letter;
}