/* 
===================================================================================================
button
=================================================================================================== 
*/

 .btn:hover {
    cursor: pointer;
 }

 /* navigation button */

.head_btn_1:active {
    color: rgb(128, 128, 128, 0.9);
    opacity: 0.2;
}

.head_btn_2:active {
    color: rgb(128, 128, 128, 0.9);
    opacity: 0.2;
}

/* hero button */

.hero_btn_1:hover {
    background-color: rgb(241, 97, 24);
}

.hero_btn_1:active {
    background-color: rgb(220, 90, 25);
}

.hero_btn_2:hover {
    border: 1.5px solid rgba(255, 255, 255, 0.715);
}

.hero_btn_2:active {
    border: 1.5px solid rgba(255, 255, 255, 0.715);
}

/* 
===================================================================================================
header
=================================================================================================== 
*/

/* nav left */

.header_logo:hover {
    cursor: pointer;
}

header span:hover {
    cursor: pointer;
}

.drop_menu li:hover {
    background-color: rgb(240, 235, 235);
}

/* nav right */

.search {
    color: white;
}



/* main */

.main_btn:hover {
    background-color: rgb(241, 97, 24);
}

.main_btn:active {
    background-color: rgb(220, 90, 25);
}


/* 
===================================================================================================
main
=================================================================================================== 
*/

.main_ul input:checked ~ label li {
    cursor: pointer;
    
}
/*  */

.main_ul #click_1:checked ~ label #main_1 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_2:checked ~ label #main_2 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_3:checked ~ label #main_3 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_4:checked ~ label #main_4 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_5:checked ~ label #main_5 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_6:checked ~ label #main_6 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_7:checked ~ label #main_7 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_8:checked ~ label #main_8 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_9:checked ~ label #main_9 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_10:checked ~ label #main_10 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_11:checked ~ label #main_11 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_12:checked ~ label #main_12 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_13:checked ~ label #main_13 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_14:checked ~ label #main_14 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_15:checked ~ label #main_15 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_16:checked ~ label #main_16 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_17:checked ~ label #main_17 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_18:checked ~ label #main_18 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_19:checked ~ label #main_19 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_20:checked ~ label #main_20 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_21:checked ~ label #main_21 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_22:checked ~ label #main_22 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_23:checked ~ label #main_23 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_24:checked ~ label #main_24 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_25:checked ~ label #main_25 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_26:checked ~ label #main_26 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_27:checked ~ label #main_27 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_28:checked ~ label #main_28 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_29:checked ~ label #main_29 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_30:checked ~ label #main_30 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}
.main_ul #click_31:checked ~ label #main_31 {
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}

/*  */

.main_head:hover {
    cursor: pointer;
}

/* 
===================================================================================================
culture
=================================================================================================== 
*/

.culture_text h5:last-of-type:hover {
    cursor: pointer;
}

/* 
===================================================================================================
experience
=================================================================================================== 
*/

.experience_main span:hover {
    cursor: pointer;
}

.experience_main h5:last-of-type:hover {
    cursor: pointer;
}

/* 
===================================================================================================
footer
=================================================================================================== 
*/

.footer_right nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer_right nav li:first-of-type:hover {
    cursor: default;
    text-decoration: none;
}

.footer_btm div:first-of-type span:hover {
    cursor: pointer;
}

.footer_btm div:last-of-type small:hover {
    cursor: pointer;
}

.footer_btm div:last-of-type small:first-of-type:hover {
    cursor: default;
}



