 
 .btn:hover {
    cursor: pointer;
 }

/* 
===================================================================================================
header
=================================================================================================== 
*/

/* nav left */

.header_logo:hover {
    cursor: pointer;
}

header span:hover {
    cursor: pointer;
} 

.search {
    color: white;
}

/*  */

.head_btn_1:active {
    color: rgb(128, 128, 128, 0.9);
    opacity: 0.2;
}

.head_btn_2:active {
    color: rgb(128, 128, 128, 0.9);
    opacity: 0.2;
}

/*  */

.hero_btn_1:hover {
    background-color: rgb(241, 97, 24);
}

.hero_btn_1:active {
    background-color: rgb(220, 90, 25);
}

.hero_btn_2:hover {
    border: 1.5px solid rgba(255, 255, 255, 0.715);
}

.hero_btn_2:active {
    border: 1.5px solid rgba(255, 255, 255, 0.715);
}

/* main */

.main_btn:hover {
    background-color: rgb(241, 97, 24);
}

.main_btn:active {
    background-color: rgb(220, 90, 25);
}


/* 
===================================================================================================
main
=================================================================================================== 
*/

.main_ul li:hover {
    cursor: pointer;
    background-color: rgb(224, 221, 221);
    border-bottom: 2px solid #ff6719;
}

.main_head:hover {
    cursor: pointer;
}

/* 
===================================================================================================
culture
=================================================================================================== 
*/

.culture_text h5:last-of-type:hover {
    cursor: pointer;
}

/* 
===================================================================================================
experience
=================================================================================================== 
*/

.experience_main span:hover {
    cursor: pointer;
}

.experience_main h5:last-of-type:hover {
    cursor: pointer;
}

/* 
===================================================================================================
footer
=================================================================================================== 
*/

.footer_right nav li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer_right nav li:first-of-type:hover {
    cursor: default;
    text-decoration: none;
}

.footer_btm div:first-of-type span:hover {
    cursor: pointer;
}

.footer_btm div:last-of-type small:hover {
    cursor: pointer;
}

.footer_btm div:last-of-type small:first-of-type:hover {
    cursor: default;
}



