/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
			outline: 1px solid gray;
}


/* File Content
=================================================================================
=================================================================================
# Base
  – normalize
  – layout
  – typography
=================================================================================
=================================================================================
*/


/*
=================================================================================
=================================================================================
=================================================================================
  – layout
=================================================================================
=================================================================================
=================================================================================
*/





/*
=================================================================================
=================================================================================
  – main
=================================================================================
=================================================================================
*/




/*
=================================================================================
=================================================================================
  – culture
=================================================================================
=================================================================================
*/

.culture {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.culture_cont {
	width: 92%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	margin: 120px 0;
	gap: 40px;
}

.culture_head {
	width: 100%;
	height: auto;
}

.culture_body {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.culture_main {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.culture_img {
	width: 49%;
	height: 100%;
	display: grid;
}

.culture_img img {
	aspect-ratio: 71/59;
	align-self: center;
}

.culture_left {
	width: 49%;
	display: flex;
	align-items: center;
}

.culture_text {
	width: 100%;
	height: 100%;
	padding: 5px 0;
}




/*
=================================================================================
=================================================================================
  – experience
=================================================================================
=================================================================================
*/

.experience {
	width: 100%;
	height: 1109px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.experience_cont {
	width: 94%;
	height: /*869px*/ auto;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.experience_head {
	width: 100%;
	height: auto;
}

.experience_body {
	width: 989px /*85.55%*/;
	height: 760px;
	display: flex;
	gap: 80px;
	margin: 0 auto;
}

.experience_left {
	width: auto;
	height: 100%;
	display: grid;
	place-items: center;
}

.experience_img {
	width: 439px;
	aspect-ratio: 20/31;
}

.experience_sub {
	width: 470px;
	height: 85.5%;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.experience_main {
	width: 100%;
	height: /*245.79px*/ auto;
	margin: 2px;
	padding: 32px 0 32px 65px;
}




/*
=================================================================================
=================================================================================
  – testimony
=================================================================================
=================================================================================
*/

.testimony {
	width: 100%;
	height: 563px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.testimony_cont {
	width: /*71.8%*/  907.073px;
	height: 323px;
	display: grid;
	place-items: center;
	flex-shrink: 0;
}




/*
=================================================================================
=================================================================================
  – basics
=================================================================================
=================================================================================
*/

.basics {
	width: 100%;
	height: 1130.26px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.basics_cont {
	width: 960px;
	height: 890.3px;
	display: flex;
	flex-wrap: wrap;
	gap: 80px;
	justify-content: center;
}

.basics_head {
	height: auto;
}

.basics_body {
	width: 100%;
	height: 742px;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.basics_main {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}

.basic_quest {
	width: /*47%*/ 391px;
	height: 100%;
}

.basic_ans {
	width: 470px;
	height: auto;
}
/*
=================================================================================
=================================================================================
  – start
=================================================================================
=================================================================================
*/

.start {
	width: 100%;
	height: 388px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.start_cont {
	width: auto;
	height: 142px;
	display: grid;
	place-items: center;
	flex-shrink: 0;
}

