/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* File Content
==================================================================================
==================================================================================
# Components
  – button
  – nav
  - dropdowns
  - list
==================================================================================
==================================================================================
*/


/* 
==================================================================================
==================================================================================
  - list
==================================================================================
==================================================================================
*/

.main_ul {
	display: inline-block;
	width: 100%;
	height: 65px;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}

.main_ul::-webkit-scrollbar {
	visibility: hidden;
	display: none;
}

.main_ul li {
	flex-shrink: 0;
	display: inline-block;
	width: max-content;
	height: 100%;
	padding: 20px;
	border-bottom: 1.5px solid rgb(231, 225, 225);
}

.main_ul input {
	display: none;
}

.footer_right li {
	width: 100%;
	height: 24px;
	margin-bottom: 10px;
}


/* 
==================================================================================
==================================================================================
  - nav
==================================================================================
==================================================================================
*/

/* 
==================================================================================
header nav
==================================================================================
*/

.header_nav {
	width: 100%;
	padding: 0 15px;
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_left_nav {
	width: /*349px*/ auto;
	height: 40px;
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
	gap: 20px;
}

.header_right_nav {
	width: auto;
	height: auto;
	display: flex;
	flex-shrink: 0;
}

/* 
==================================================================================
footer nav
==================================================================================
*/

.footer_right nav {
	width: 152px;
	height: 489px;
}

/* 
==================================================================================
==================================================================================
  - drop down
==================================================================================
==================================================================================
*/

/*
==================================================================================
  - header
==================================================================================
*/

.header_left_nav .drop_click {
	display: inline-block;
	font-size: 14px;
	color: white;
	font-weight: 500;
	line-height: 40px;
	flex-shrink: 0;
}

.header_left_nav label {
	/* display: inline-block; */
	height: 40px;
	padding: 0 5px;
	position: relative;
}

.header_left_nav input {
	display: none;
}

.header_left_nav .drop_menu {
	background-color: white;
	display: none;
	width: 230px;
	padding: 8px;
	border-radius: 12px;
	position: absolute;
}

#drop_menu_1 {
	width: 250px;
}

#drop_menu_2 {
	scrollbar-color: rgb(234, 227, 227);
	scrollbar-width: 15px;
	height: 410px;
	overflow-y: scroll;
}

/* styling the scroll bar */

#drop_menu_2::-webkit-scrollbar {
	background-color: rgb(234, 227, 227);
	width: 15px;
	border-radius: 7.5px;
}

#drop_menu_2::-webkit-scrollbar-thumb {
	background-color: rgb(173, 169, 169);
	border-radius: 7.5px;
}

.header_left_nav .drop_menu li {
	background-color: white;
	width: 100%;
	height: 44px;
	padding: 0 16px;
	line-height: 44px;
	margin: 1px;
	border-radius: 6px;
}

.header_left_nav input:checked~.drop_menu {
	display: block;
}

/*
==================================================================================
  - experience
==================================================================================
*/



.experience_main input:not(:checked)~h5 {
	display: none;
}

.experience_main {
}

.experience_main:has(:not(input:checked)) {
	height: 170px;
}

.experience_main:has(input:checked) {
	height: auto;
	transition: all 3s linear;
}

.experience_main:has(input:checked) svg {
	transform: rotateX(180deg);
}


.experience input {
	display: none;
}


/* 
==================================================================================
==================================================================================
  - button
==================================================================================
==================================================================================
*/

.btn {
	font-size: 16px;
	font-weight: 600;
	line-height: 48px;
	text-align: center;
	height: 48px;
	color: white;
	display: inline-block;
	border: none;
}



/* 
==================================================================================
header
==================================================================================
*/

.head_btn_1 {
	width: 108px;
	height: 40px;
	line-height: 40px;
	background-color: #ff6719;
	border-radius: 6px;
}

.head_btn_2 {
	background-color: transparent;
	width: 85px;
	height: 40px;
	line-height: 40px;
	border-radius: 6px;
	border: 1px solid white;
	margin-left: 10px;
}


/* 
==================================================================================
hero
==================================================================================
*/

.hero_btn_cont {
	display: flex;
	gap: 10px;
	width: auto;
	height: auto;
	margin: 0 auto;
}

.hero_btn_1 {
	width: 180px;
	background-color: #ff6719;
	border-radius: 12px;
}

.hero_btn_2 {
	width: 192px;
	background-color: transparent;
	border-radius: 12px;
	border: 1.5px solid white;
}


/* 
==================================================================================
main
==================================================================================
*/

.main_btn {
	width: 239px;
	background-color: #ff6719;
	border-radius: 12px;
	margin: 0 auto;
}

/* 
==================================================================================
experience
==================================================================================
*/

.experience_btn {
	width: 180px;
	background-color: #ff6719;
	border-radius: 12px;
}

/* 
==================================================================================
testimonial
==================================================================================
*/

.testimonial_btn {
	width: 192px;
	background-color: #ff6719;
	border-radius: 12px;
}

/* 
==================================================================================
start
==================================================================================
*/

.start_btn {
	width: 192px;
	background-color: #ff6719;
	border-radius: 12px;
}

/* 
==================================================================================
==================================================================================
  - search
==================================================================================
==================================================================================
*/

.header_right_nav form {
	position: relative;
}

.search input {
	background-color: transparent;
	color: white;
	width: 255px;
	height: 40px;
	padding-left: 35px;
	border-radius: 6px;
	border: 1px solid white;
}

.search input::placeholder {
	font-weight: 600;
	font-size: 14px;
	line-height: 40px;
	font-family: Arial, Helvetica, sans-serif;
}

.search svg {
	position: absolute;
	left: 10px;
	top: 10px;
}


/* 
============================================================================
============================================================================
 burger drop drown
============================================================================
============================================================================
 */


.burger {
	border-radius: 3px;
	width: 24px;
	height: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4px;
	margin: 8px 0;
}

.sandwich {
	background-color: white;
	width: 18px;
	height: 2px;
	border-radius: 1px;
}

.mobile_label {
	display: none;
}

.mobile_label:has(input:checked) ~ .mobile_nav {
	right: 0%;
	width: 100%;
}

.header_left_nav .mobile_head:has(input:checked) {
	width: 500px;
	left: 100%;
	/* display: flex; */
}


/* 
============================================================================
============================================================================
 mobile navigation
============================================================================
============================================================================
 */

 .mobile_nav {
	display: none;
	padding-top: 10px;
	padding-left: 10px;
	top: 0;
	right: 100%;
	display: block;
	position: absolute;
	background-color: white;
	transition: all 1s linear;
 }


 .mobile_head {
	display: flex;
	justify-content: space-between;
 }

 .mobile_btn_cont {
	display: flex;
	gap: 15px;
 }

 .mobile_btn {
	background: #dbd9d9;
 }

 .mobile_burger{
	border: 1px solid #404040;
 }

 .mobile_burger .sandwich {
	background-color: #404040;
 }

.mobile_ul li {
	list-style: none;
}


.mobile_ul li {
	display: block;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid rgb(224, 221, 221);
	line-height: 60px;
	font-size: 16px;
	color: #404040;
	font-weight: 400;
}

.mobile_ul li:first-of-type {
	font-size: 17px;
	color: #1c110b;
	font-weight: 600;
}

.mobile_ul li:last-of-type {
	border-bottom: none;
}

.mobile_ul {
	border-bottom: 10px solid rgb(192, 186, 186);
}