/* 
==================================================================================
==================================================================================
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
==================================================================================
==================================================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
==================================================================================
==================================================================================
Box Model
==================================================================================
==================================================================================
*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


/* File Content
==================================================================================
==================================================================================
# Modules
  – header
  – footer
  - main
==================================================================================
==================================================================================
*/


/*
=================================================================================
=================================================================================
  header
=================================================================================
=================================================================================
*/

header {
	width: 100%;
	height: 800px;
	background-image: url(../images/header_bg.jpg);
	background-size: cover;
}

.header_cont {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
}


.header_btm {
	width: 100%;
	height: 83%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.header_main {
	width: 550px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	gap: 30px;
}

.link {
	width: 30px;
	height: auto;
	margin: 0 auto
}

/*
=================================================================================
=================================================================================
  – main
=================================================================================
=================================================================================
*/

main {
	width: 100%;
	height: /*1255.6px*/ auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main_cont {
	width: 92%;
	margin: 100px 0;
	height: /*1051px*/max-content;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.main_pre {
	width: 100%;
	height: auto;
}

.main_body {
	width: 100%;
	height: /*605px*/ auto;
	display: flex;
	gap: 1px;
}

.main_body_cont {
	width: /*1162.26px*/ 100%;
	height: /*605px*/ auto;
	display: flex;
	flex-wrap: wrap;
	gap: 56px;
	flex-shrink: 0;	
}



.main_row {
	width: 100%;
	height: max-content;
	display: flex;
	gap: 20px;
}

.num {
	width: 78px;
	height: 64px;
	flex-shrink: 0;
}

.main_col2 {
	width: 376px;
	height: auto;
	display: flex;
	gap: 32px;
	flex-shrink: 0;
}

.main_img {
	width: 64px;
	height: 64px;
	border-radius: 6px;
}

.main_img img {
	border-radius: 6px;
}

.main_head {
	width: 280px;
	height: 100%;
}

.main_col3 {
	width: 57.3%;
	height: auto;
	letter-spacing: -.45px;
	word-break: break-all;
}

/*  */

.main_body_cont {
	display: none;
}

.main_ul:has(#click_1:checked) ~ .main_body #scroll_1 {
	display: flex;
}
.main_ul:has(#click_2:checked) ~ .main_body #scroll_2 {
	display: flex;
}
.main_ul:has(#click_3:checked) ~ .main_body #scroll_3 {
	display: flex;
}
.main_ul:has(#click_4:checked) ~ .main_body #scroll_4 {
	display: flex;
}
.main_ul:has(#click_5:checked) ~ .main_body #scroll_5 {
	display: flex;
}
.main_ul:has(#click_6:checked) ~ .main_body #scroll_6 {
	display: flex;
}
.main_ul:has(#click_7:checked) ~ .main_body #scroll_7 {
	display: flex;
}
.main_ul:has(#click_8:checked) ~ .main_body #scroll_8 {
	display: flex;
}
.main_ul:has(#click_9:checked) ~ .main_body #scroll_9 {
	display: flex;
}
.main_ul:has(#click_10:checked) ~ .main_body #scroll_10 {
	display: flex;
}
.main_ul:has(#click_11:checked) ~ .main_body #scroll_11 {
	display: flex;
}
.main_ul:has(#click_12:checked) ~ .main_body #scroll_12 {
	display: flex;
}
.main_ul:has(#click_13:checked) ~ .main_body #scroll_13 {
	display: flex;
}
.main_ul:has(#click_14:checked) ~ .main_body #scroll_14 {
	display: flex;
}
.main_ul:has(#click_15:checked) ~ .main_body #scroll_15 {
	display: flex;
}
.main_ul:has(#click_16:checked) ~ .main_body #scroll_16 {
	display: flex;
}
.main_ul:has(#click_17:checked) ~ .main_body #scroll_17 {
	display: flex;
}
.main_ul:has(#click_18:checked) ~ .main_body #scroll_18 {
	display: flex;
}
.main_ul:has(#click_19:checked) ~ .main_body #scroll_19 {
	display: flex;
}
.main_ul:has(#click_20:checked) ~ .main_body #scroll_20 {
	display: flex;
}
.main_ul:has(#click_21:checked) ~ .main_body #scroll_21 {
	display: flex;
}
.main_ul:has(#click_22:checked) ~ .main_body #scroll_22 {
	display: flex;
}
.main_ul:has(#click_23:checked) ~ .main_body #scroll_23 {
	display: flex;
}
.main_ul:has(#click_24:checked) ~ .main_body #scroll_24 {
	display: flex;
}
.main_ul:has(#click_25:checked) ~ .main_body #scroll_25 {
	display: flex;
}
.main_ul:has(#click_26:checked) ~ .main_body #scroll_26 {
	display: flex;
}
.main_ul:has(#click_27:checked) ~ .main_body #scroll_27 {
	display: flex;
}
.main_ul:has(#click_28:checked) ~ .main_body #scroll_28 {
	display: flex;
}
.main_ul:has(#click_29:checked) ~ .main_body #scroll_29 {
	display: flex;
}
.main_ul:has(#click_30:checked) ~ .main_body #scroll_30 {
	display: flex;
}
.main_ul:has(#click_31:checked) ~ .main_body #scroll_31 {
	display: flex;
}



/*
=================================================================================
=================================================================================
  – footer
=================================================================================
=================================================================================
*/

footer {
	background-color: rgb(238, 238, 238);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer_cont {
	width: /*89.1%*/ 1125.62px;
	height: /*529px*/ auto;
	margin: 70px 0 0 0 ;
	display: flex;
	flex-wrap: wrap;
	gap: 70px;
}

.footer_head {
	width: 100%;
	height: 489px;
	display: flex;
	justify-content: space-between;
}

.footer_left {
	width: 256px;
	height: /*489px*/ auto;
}

.footer_logo {
	width: 21px;
	height: 24px;
	margin-bottom: 30px;
}

.footer_right {
	width: 812px;
	height: 489.5px;
	display: flex;
	justify-content: space-between;
}

.footer_btm {
	width: 100%;
	height: 88px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer_btm div:first-of-type {
	width: 283px;
	height: 43px;
}

.footer_btm div:first-of-type span {
	display: inline-block;
	width: 134px;
	height: 43px;
	border-radius: 12px;
	border-radius: 1px solid rgb(215, 212, 212);
	overflow: hidden;
}






