@import "./settings/mixins";
@import "./settings/variables";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/*
=================================================================================
=================================================================================
general
=================================================================================
=================================================================================
*/

h1 p {
    @include typo (64px, 400px);
}

h2 p {
    @include typo (55px, 400);
}

h3 p {
    @include typo (38px, 400);
}

h4 p {
    @include typo (32px, 400);
}

h5 p {
    @include typo (17px, 400);
}

.apple_system {
    font-family: $system;
}

.cahuenga {
    font-family: $lora;
}

.orange_text {
    color: #ff6719;
}

/*
=================================================================================
=================================================================================
- header
=================================================================================
=================================================================================
*/

header .drop_menu li {
    @include typography ($system, 16px, 600, #3a261c);
}

head

.header_main h1 p {
    letter-spacing: -0.192px;
    text-align: center;
    word-spacing: -7px;
    font-size: 62px;
    line-height: 80px;
    color: white;
}

.header_main span {
    display: inline-block;
    font-style: italic;
}


/*
=================================================================================
=================================================================================
- main
=================================================================================
=================================================================================
*/

.main_pre h2 p {
    text-align: center;
    color: #404040;
    line-height: 68px;
}

.main_ul li {
    @include typography ($system, 17px, 400, #808080,);
    text-decoration: none;
    display: block;
}

.main_row .num {
    @include typography (sans-serif, 40px, auto, rgba(0, 0, 0, 0.13));
    text-align: center;
}

.main_head p:first-of-type {
    @include typography ($lora, 24px, 500, #404040, 40px);
}

.main_head p:last-of-type {
    @include typography ($lora, 20px, 400, #404040, 24px);
}

.main_col3 h5:first-of-type p {
    @include typography ($system, 17px, 400, #404040, 23px);
}

.main_col3 h5:last-of-type p {
    @include typography ($system, 17px, 600, #404040, 23px);
}

/*
=================================================================================
=================================================================================
- culture
=================================================================================
=================================================================================
*/

.culture_head h2 p {
    color: #404040;
    text-align: center;
}

.culture_text h3 p {
    color: #404040;
    line-height: 40px;
    margin-bottom: 20px;
}

.culture_text h5 p {
    @include space (-0.5px, -0.45px);
    color: #404040;
    line-height: 23px;
}

.culture_text h5:last-of-type p {
    color: #ff6719;
    font-weight: 600;
    margin-top: 25px;
}

/*
=================================================================================
=================================================================================
- experience
=================================================================================
=================================================================================
*/

.experience_head h2 p {
    color: #404040;
    font-size: 53px;
    text-align: center;
}

.experience_main .cahuenga {
    @include typography ( 0, 38px, 500, #404040, 40px);
    display: inline-block;
    margin-bottom: 20px;
}

.experience_main h5 p {
    color: #404040;
    line-height: 23px;
}

.experience_main h5:last-of-type p {
    color: #ff6719;
    font-weight: 600;
    margin-top: 20px;
}

/*
=================================================================================
=================================================================================
- testimonial
=================================================================================
=================================================================================
*/

.testimony_cont h3 p {
    font-size: 35px;
    color: #404040;
    line-height: 47px;
    text-align: center;
    margin-bottom: 20px;
}

.testimony_cont h5 p {
    color: #404040;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

/*
=================================================================================
=================================================================================
- basics
=================================================================================
=================================================================================
*/

.basics_head h2 p {
    text-align: center;
    color: #404040;
    line-height: 68px;
}

.basic_quest h4 p {
    color: #404040;
    line-height: 40px;
}

.basic_ans h5 p {
    color: #404040;
    line-height: 23px;
    letter-spacing: -0.45px;
}

/*
=================================================================================
=================================================================================
- start
=================================================================================
=================================================================================
*/

.start_cont h2 p {
    text-align: center;
    line-height: 68px;
    color: #404040;
}

/*
=================================================================================
=================================================================================
- footer
=================================================================================
=================================================================================
*/

.footer_left p {
    font-size: 20px;
    line-height: 28px;
    color: #808080;
    font-weight: 400;
}

.footer_right nav li {
    @include typography ($system, 16px, 400, #808080, 24px);
}

.footer_right nav:first-of-type li:last-of-type {
    text-decoration: underline;
}

.footer_right nav li:first-of-type {
    font-size: 16px;
    line-height: 26px;
    color: #3a261c;
    font-weight: 600;
}

.footer_btm div:last-of-type small {
    @include typography ($system, 14px, 400, #808080, 21px);
    margin: 0 3px;
}

.footer_btm .under {
    text-decoration: underline;
}

.mobile_ul li {
	font-family: $system;
}





