/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1124px) {

    .footer_head {
        flex-wrap: wrap;
        height: auto;
        width: 812px;
        margin: 0 auto;
    }

    .footer_right {
        order: 1;
    }

    .footer_left {
        flex-shrink: 0;
        width: 812px;
        order: 2;
    }

    .footer_btm {
        padding: 0 10px;
    }

}