@media only screen and (min-width: 1143px) {

    .footer_head {
        flex-shrink: 0;
    }

}


@media only screen and (min-width: 1097px) {

    .experience_body {
        flex-shrink: 0;
    }

}

@media only screen and (max-width: 1081px) {

    .experience_body {
        width: 100%;
        gap: 30px;
        justify-content: space-between;
    }

    .experience_right {
        flex-shrink: 0;
    }

}

@media only screen and (max-width: 1043px) {

    /* .culture_left */

}