/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 900px) {

    header .search {
        display: none;
    }

}
@media only screen and (max-width: 910px) {

    .testimony_cont {
        width: 99%;
    }

    .basics_cont {
        width: 100%;
    }

}

@media only screen and (max-width: 812px) {

    .footer_cont {
        width: 100%;
    }

    .footer_head {
        width: 100%;
    }

    .footer_left {
        width: 100%;
    }

    

}