/*
=================================================================================
    max width of 1143px
=================================================================================
*/

@media only screen and (min-width: 1143px) {

    .footer_head {
        flex-shrink: 0;
    }

}


/*
=================================================================================
    max width of 1124px
=================================================================================
*/

@media only screen and (max-width: 1124px) {

    .footer_head {
        flex-wrap: wrap;
        height: auto;
        width: 812px;
        margin: 0 auto;
    }

    .footer_right {
        order: 1;
    }

    .footer_left {
        flex-shrink: 0;
        width: 812px;
        order: 2;
    }

    .footer_btm {
        padding: 0 10px;
    }

}


/*
=================================================================================
    max width of 1097px
=================================================================================
*/

@media only screen and (min-width: 1097px) {

    .experience_body {
        flex-shrink: 0;
    }

}


/*
=================================================================================
    max width of 1081px
=================================================================================
*/

@media only screen and (max-width: 1081px) {

    .experience_body {
        width: 100%;
        gap: 30px;
        justify-content: space-between;
    }

    .experience_right {
        flex-shrink: 0;
    }

}


/*
=================================================================================
    max width of 910px
=================================================================================
*/

@media only screen and (max-width: 910px) {

    .testimony_cont {
        width: 99%;
    }

    .basics_cont {
        width: 100%;
    }

}


/*
=================================================================================
    max width of 900px
=================================================================================
*/

@media only screen and (max-width: 900px) {

    header .search {
        display: none;
    }

}


/*
=================================================================================
    max width of 812px
=================================================================================
*/

@media only screen and (max-width: 812px) {

    .footer_cont {
        width: 100%;
    }

    .footer_head {
        width: 100%;
    }

    .footer_left {
        width: 100%;
    } 

}


/*
=================================================================================
    max width of 798px
=================================================================================
*/

@media only screen and (max-width: 798px) {

    .header_main h1 p {
        font-size: 40px;
        line-height: 54px;
    }

    .header_main {
        flex-direction: column;
        width: auto;
    }


}


/*
=================================================================================
    max width of 796px
=================================================================================
*/

@media only screen and (max-width: 796px) {
    
    .experience_body {
        gap: 0;
    }

}


/*
=================================================================================
    max width of 787px
=================================================================================
*/

@media only screen and (max-width: 787px) {

    .experience {
        overflow-x: hidden;
    }
    
    .experience_cont {
        flex-shrink: 0;
        width: 740px;
    }

}


/*
=================================================================================
    max width of 772px
=================================================================================
*/

@media only screen and (max-width: 772px) {
    
    .experience_body {
        gap: 0;
    }

}
