/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 798px) {

    .header_main h1 p {
        font-size: 40px;
        line-height: 54px;
    }

    .header_main {
        flex-direction: column;
        width: auto;
    }


}

@media only screen and (max-width: 796px) {
    
    .experience_body {
        gap: 0;
    }

}

@media only screen and (max-width: 787px) {

    .experience {
        overflow-x: hidden;
    }
    
    .experience_cont {
        flex-shrink: 0;
        width: 740px;
    }

}

